/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #f8f6f5;
    padding: 10px 0;
    font-size: 14px;
}
#topbar .contact-info i {
    font-style: normal;
    color: #f03c02;
}
#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: #2b2320;
}
#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}
#topbar .contact-info i a:hover {
    color: #f03c02;
}
#topbar .social-links a {
    color: #65534c;
    line-height: 0;
    transition: 0.3s;
    margin-left: 15px;
}
#topbar .social-links a:hover {
    color: #f03c02;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
}
#header.fixed-top {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#header .logo h1 a,
#header .logo h1 a:hover {
    color: #2b2320;
    text-decoration: none;
}
#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}
.scrolled-offset {
    margin-top: 70px;
}
/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    font-size: 13px;
    color: #65534c;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #f03c02;
}
.navbar .getstarted,
.navbar .getstarted:focus {
    background: #f03c02;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #fd490f;
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 13px;
    text-transform: none;
    font-weight: 500;
    color: #581601;
}
.navbar .dropdown ul a i {
    font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #f03c02;
}
.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #2b2320;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(14, 11, 10, 0.9);
    transition: 0.3s;
    z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #581601;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #f03c02;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #f03c02;
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    padding: 0;
}
#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#hero .carousel-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    top: 110px;
    left: 50px;
    right: 50px;
}
#hero .carousel-content {
    background: rgba(28, 23, 21, 0.7);
    padding: 20px;
    color: #fff;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    border-top: 5px solid #f03c02;
}
#hero .carousel-content h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}
#hero .btn-get-started {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f03c02;
}
#hero .btn-get-started:hover {
    background: #f03c02;
    color: #fff;
    text-decoration: none;
}
#hero .carousel-inner .carousel-item {
    transition-property: opacity;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}
#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}
#hero .carousel-indicators li {
    cursor: pointer;
}
@media (min-width: 1024px) {
    #hero .carousel-content {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}
@media (max-width: 992px) {
    #hero {
        height: calc(100vh - 70px);
    }
    #hero .carousel-content h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    #hero .carousel-content p {
        font-size: 15px;
    }
}
@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #b4aca8;
    font-size: 14px;
    background: #14100f;
}
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: black;
}
#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Muli', sans-serif;
    color: #b4aca8;
}
#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links {
    margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fd6f41;
    font-size: 18px;
    line-height: 1;
}
#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
#footer .footer-top .footer-links ul a {
    color: #b4aca8;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #fd6f41;
}
#footer .footer-newsletter {
    font-size: 15px;
}
#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 0 0 4px;
    text-align: left;
}
#footer .footer-newsletter form input[type='email'] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type='submit'] {
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #f03c02;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type='submit']:hover {
    background: #fd5c28;
}
#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #b4aca8;
}
#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #f03c02;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#footer .social-links a:hover {
    background: #fd5c28;
    color: #fff;
    text-decoration: none;
}
/*----------------------------------------------------------------------------
Login
-----------------------------------------------------------------------------*/
.mQxS3-pageBody {
    -moz-box-align: center;
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    -ms-flex: 1;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -o-box-align: center;
    -o-box-flex: 1;
    -o-box-orient: vertical;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-flex: 1;
    -webkit-flex-direction: column;
    align-items: center;
    box-flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 40px 0 0;
    margin-bottom: 4rem;
}
.with_border_container__2_ZoA {
    -webkit-box-shadow: 0 12px 48px rgba(26, 33, 52, 0.11);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 12px 48px rgba(26, 33, 52, 0.11);
    max-width: 460px;
    min-width: 320px;
    padding: 32px;
    width: 100%;
}
.form_formContainer__2shgm {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    -ms-flex: 1 1 auto;
    -ms-flex-direction: column;
    -o-box-flex: 1;
    -o-box-orient: vertical;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-flex: 1 1 auto;
    -webkit-flex-direction: column;
    box-flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: Inter, sans-serif;
}
.explicit_terms_of_service_tosContainer__2Z25J {
    margin-bottom: 16px;
    text-align: left;
}

.base-module_mainContainer__2aq6N {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    -ms-flex: 1 1 auto;
    -ms-flex-direction: column;
    -o-box-flex: 1;
    -o-box-orient: vertical;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-flex: 1 1 auto;
    -webkit-flex-direction: column;
    box-flex: 1;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: Inter, sans-serif;
}

.base-module_mainContainer__2aq6N,
.base-module_titleContainer__3mYir {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}

.base_text__2aTiN {
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}

.base-module_titleContainer__3mYir {
    -moz-box-align: center;
    -moz-box-lines: single;
    -moz-box-pack: justify;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -ms-flex-wrap: nowrap;
    -o-box-align: center;
    -o-box-lines: single;
    -o-box-pack: justify;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-lines: single;
    -webkit-box-pack: justify;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}

.base-module_backContainer__2yOFX {
    cursor: pointer;
    height: 32px;
    width: 32px;
}
.default_inputAndSuffixContainer__2m_b7 {
    border: 1px solid #e7e9f5;
    border-radius: 4px;
    height: 48px;
    padding: 0;
    width: 100%;
}
.default_input__3Uo21 {
    -moz-box-flex: 1;
    -ms-flex: 1;
    -o-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    border-radius: 4px;
    box-flex: 1;
    flex: 1;
    padding: 0;
}
.base_input__2az6D {
    border: none;
    font-size: 16px;
    line-height: 21px;
    outline: none;
    width: 100%;
}
.base_basic__1qybc {
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-user-select: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-user-select: none;
    -o-box-align: center;
    -o-box-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-user-select: none;
    align-items: center;
    background: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    height: 48px;
    justify-content: center;
    outline: none;
    padding: 0;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
    user-select: none;
}
.link_link__tEM4H {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}
.base-module_placeholderContainer__m5K72 {
    height: 32px;
    width: 32px;
}
.default_inputAndPlaceholderContainer__1Rge_ {
    position: relative;
}
.signup_extraFieldsContainer__3iUdK.signup_show__2AHHq {
    height: auto;
    max-height: 300px;
    visibility: visible;
}
.signup_field__26g52 {
    margin-bottom: 8px;
}
.default_placeholder__2OZiG {
    -moz-transition: font 0.2s, top 0.2s;
    -ms-transition: font 0.2s, top 0.2s;
    -o-transition: font 0.2s, top 0.2s;
    -webkit-transition: font 0.2s, top 0.2s;
    color: #91817b;
    font-size: 14px;
    left: 12px;
    line-height: 21px;
    pointer-events: none;
    position: absolute;
    top: 13px;
    transition: font 0.2s, top 0.2s;
}
.signin_textFieldsContainer__vZ7MH {
    margin-bottom: 16px;
}

.signin_passwordContainer__1U_27 {
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    max-height: 0;
    transition: max-height 1s;
    visibility: hidden;
}

.signin_passwordContainer__1U_27.signin_show__2jYV7 {
    height: auto;
    max-height: 100px;
    visibility: visible;
}

.signin_passwordContainer__1U_27 > :first-child {
    padding-top: 8px;
}

.base_colorGreen__2AdOl {
    background: #11a683;
    color: #fff;
}

.base_colorGreen__2AdOl:focus {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #87e8d1;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #87e8d1;
}

.base_colorGreen__2AdOl:hover {
    background: #15c39a;
}

.base_colorGreen__2AdOl.base_statusDisabled__2sIa1 {
    background: #f0f2fc;
    color: #c6cbde;
}

.typography_pCommon__3Rsu3,
div.typography_large__2WUh6,
div.typography_medium__3uZy_,
div.typography_small__2MagS,
div.typography_xsmall__2NZHc {
    color: inherit;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

div.typography_small__2MagS {
    font-size: 14px;
    line-height: 22px;
}
div.typography_xsmall__2NZHc {
    font-size: 12px;
    line-height: 18px;
}
.default_message__3AQOF {
    color: #746762;
    font-size: 11px;
    line-height: 16px;
    padding: 4px 12px 0;
}
.default_suffixContainer__DcFFa {
    border-radius: 4px;
    height: 100%;
    padding: 0 12px 0 0;
}
.password_passwordIcon__34TQQ,
.password_passwordSuffixContainer__2ZmfG {
    -moz-box-align: center;
    -ms-flex-align: center;
    -o-box-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
.password_clickable__1zp29 {
    cursor: pointer;
}
.password_passwordIcon__34TQQ {
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -o-box-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    height: 20px;
    justify-content: center;
    width: 20px;
}
.default_inputAndSuffixContainer__2m_b7,
.default_suffixContainer__DcFFa {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
.default_placeholder__2OZiG.default_minimized__WCyMY {
    font-size: 11px;
    left: 12px;
    line-height: 13px;
    top: 5px;
}
