{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-12">
            <h1 class="text-primary fs-2">Lorem</h1>
        </div>
    </div>
</div>
{{ end }}
